<!DOCTYPE html>
<html>
<head>
    
    <title>Server managment</title>
    <link rel="stylesheet" href="status.css">
</head>

<body>
    <div class="wrapper">
        <div class="side-bar">
            <ul>
                <li><a href="" class="active">server managment</a></li>
                <li><a href="">proccesses management</a></li>
                <li><a href="">file management</a></li>
                <li><a href="">blank</a></li>
            </ul>
        </div>
        <div class="main-page">
            <h1>Hello</h1>
        </div>

    </div>
</body>

</html>